__pycache__/
.ruff_cache
.idea
.idea/
/.idea/
/.idea/inspectionProfiles/
*.xml
*.iml
*.png
qasm_files/
txt/


!/.gitignore

venv/
.venv/
*.env

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py
